<!-- JavaScript -->
<script src="__PUBLIC__/Admin/Admin/js/jquery.min.js"></script>
<script src="__PUBLIC__/Admin/Admin/js/animate.js"></script>
<script src="__PUBLIC__/Admin/Admin/js/wordslider.js"></script>
<script src="__PUBLIC__/Admin/Admin/js/layer/layer.js"></script>
<script src="__STATIC__/js/jquery-1.10.2.js"></script>
<script src="__STATIC__/js/bootstrap.js"></script>
<script src="__STATIC__/js/app.js"></script>
<script src="__STATIC__/jqueryparticles/js/particles.min.js"></script>
<script src="__STATIC__/jqueryparticles/js/app.js"></script>
</body>
</html>