<ul class="nav navbar-nav side-nav">
    <li class="dropdown">
        <a href="{:U('post/index')}"><i class="fa fa-users"></i> 信息管理</a>
    </li>
    <li class="dropdown">
        <a href="{:U('category/index')}"><i class="fa fa-file-text"></i> 项目管理</a>
    </li>
    <li class="dropdown">
        <a href="{:U('notice/index')}"><i class="fa fa-pencil-square-o"></i> 公告管理</a>
    </li>
    <li class="dropdown">
        <a href="{:U('system/index')}"><i class="fa fa-pencil-square-o"></i> 系统配置</a>
    </li>
    <li class="dropdown">
        <a href="{:U('member/index')}"><i class="fa fa-user"></i> 管理员账号</a>
    </li>
</ul>