<include file="Public/header" title="添加公告" />
<div id="page-wrapper">


        <form method="post" action="{:U('notice/add')}" id="update_form" enctype="multipart/form-data">


        <div class="form-group">
            <label for="aa">公告名称</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="输入公告名称">
        </div>
        <div class="form-group">
            <label for="mm">排序</label>
            <input type="text" name="sort" class="form-control" style="width: 150px;" placeholder="输入排序序号">
        </div>
        <div class="form-group">
            <label for="post-content">公告详情</label>
                <script id="post-content" name="memo" type="text/plain"></script>
        </div>

        <!--<div class="control-group">-->
            <!--<label>允许上传图片格式：('jpg', 'gif', 'png', 'jpeg')</label>-->
            <!--<input type="file" name="img_url" placeholder="" datatype="*2-50" nullmsg="png" errormsg="png" />-->
        <!--</div>-->
        <hr>
        <button type="submit" class="btn btn-default">添加</button>
    </form>
</div>
<!-- 配置文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->

<include file="Public/footer" />
<script type="text/javascript">
    var ue = UE.getEditor('post-content',{
        toolbars: [
            ['fullscreen', 'source', 'undo', 'redo','bold', 'italic', 'underline','fontborder', 'strikethrough', '|','simpleupload', 'insertimage','emotion','link','unlink', '|', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote','searchreplace', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc'],
            ['inserttable','insertrow', 'insertcol','mergeright', 'mergedown','deleterow', 'deletecol','splittorows','splittocols', 'splittocells','deletecaption','inserttitle', 'mergecells', 'deletetable','insertparagraphbeforetable', 'paragraph','fontsize','fontfamily']
        ],
        initialFrameHeight:500,
        zIndex:100
    });
    ue.ready(function() {
        //设置编辑器的内容
        ue.setContent('');
        //获取html内容，返回: <p>hello</p>
        var html = ue.getContent();
        //获取纯文本内容，返回: hello
        var txt = ue.getContentTxt();
    });
</script>