<!DOCTYPE HTML>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<head>
    <meta charset="UTF-8">
    <title>Contact - ZiZurz Website Template</title>
    <link rel="stylesheet" href="./public/Home/css/style.css" type="text/css">
</head>
<body>
<div id="header">
    <div class="section">
        <div class="logo">
            <a href="#">注册会员</a>
        </div>
        <ul>
            <li>
                <a href="index.php?p=Home&c=Home&a=Index">返回首页</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="index.php?p=Home&c=Userlogin&a=Index">会员登录</a>
            </li>
        </ul>
    </div>
</div>
<div id="body">
    <div class="article">
        <form action="index.php?p=Home&a=save_add&c=Adduser" method="post" enctype="multipart/form-data">
            <h3>用户名：</h3>
            <p>
                <input type="text" name="username">
            </p>
            <h3>密码：</h3>
            <p>
                <input type="password" name="password">
            </p>
            <h3>真实姓名：</h3>
            <p>
                <input type="text" name="realname">
            </p>
            <h3>性别:</h3>
            <p>
                <label><input type="radio" name="sex" value="1"/> 男</label>
                <label><input type="radio" name="sex" value="0"/> 女</label>
            </p>
            <h3>电话：</h3>
            <p>
                <input type="text" name="telephone">
            </p>
            <h3>头像：</h3>
            <p>
                <input type="file" name="photo"/>
            </p>
            <h3>操作：</h3>
            <p>
                <input type="submit"  value="注册"  />已有账号？点击右上角登录吧。
            </p>
        </form>
        <ul>
            <li>
                <span>Address :</span> 7177 Saint Michael Drive, Los Angeles, CA 90048, United States
            </li>
            <li>
                <span>Office Phone Number :</span> (864) 232-3553
            </li>
            <li>
                <span>Fax Number :</span> (864) 232-4160
            </li>
            <li>
                <span>Email :</span> <a href="http://www.cssmoban.com/misc/contact">info@zizurz.com</a>
            </li>
        </ul>
    </div>
</div>
<div id="footer">
    <div>
        <div class="connect">
            <a href="#" id="twitter">twitter</a>
            <a href="#" id="facebook">facebook</a>
            <a href="#" id="googleplus">googleplus</a>
            <a href="#" id="pinterest">pinterest</a>
        </div>
        <p>
            &copy; copyright 2023 | all rights reserved. Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
        </p>
    </div>
</div>
</body>
</html>