<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>回显会员表单</title>
</head>
<body>
<form enctype="multipart/form-data" action="index.php?p=Admin&a=save_add&c=Users" method="post">
    <h1>显示要修改的会员表单</h1>
    <input type="hidden" name="id" value="<?=$id?>"/>
    <table width="90%" id="general-table" align="center">
        <tr>
            <td >姓名：</td>
            <td><input type="text" name="realname" value="<?=$row['realname']?>" />
                <span class="require-field">*</span></td>
        </tr>
        <tr>
            <td class="label">性别：</td>
            <td>
                <label><input type="radio" name="sex" value="1" <?php if($row['sex']==1)
                            {echo 'checked="checked"';}?>/> 男</label>
                <label><input type="radio" name="sex" value="0" <?php if($row['sex']==0)
                            {echo 'checked="checked"';}?>/> 女</label>
            </td>
        </tr>
        <tr>
            <td class="label">电话： </td>
            <td>
                <input type="text" name="telephone" value="" size="20"/>
                <span id="goods_sn_notice"></span><br />
                <span class="notice-span"id="noticeGoodsSN"></span>
            </td>
        </tr>

        <tr>
            <td class="label">备注：</td>
            <td>
                <textarea name="remark" cols="40" rows="3"></textarea>
            </td>
        </tr>
        <tr>
            <td class="label">余额：</td>
            <td>
                <input type="text" name="money" value="0" size="20" />
            </td>
        </tr>

        <tr>
            <td class="label">是否VIP：</td>
            <td>
                <label><input type="radio" name="is_vip" value="1"<?php if($row['is_vip']==1)
                            {echo 'checked="checked"';}?>/> 是</label>
                <label><input type="radio" name="is_vip" value="0"<?php if($row['is_vip']==0)
                            {echo 'checked="checked"';}?>/> 否</label>
            </td>
        </tr>
        <tr>
            <td class="label">头像：</td>
            <td>
                <input type="file" name="img" size="35" />
            </td>
        </tr>

    </table>
    <div class="button-div">
        <input type="submit" value=" 确定 " class="button"/>
        <input type="reset" value=" 重置 " class="button" />
    </div>
</form>

</body>
</html>