<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="./public/Admin/css/style.css" />
    <link rel="stylesheet" type="text/css" href="./public/Admin/css/WdatePicker.css" />
    <link rel="stylesheet" type="text/css" href="./public/Admin/css/skin_/table.css" />
    <link rel="stylesheet" type="text/css" href="./public/Admin/css/jquery.grid.css" />


    <title>表格</title>
</head>
<body>
<table width="1000">
    <tr>
        <th>ID</th>
        <th>客户电话</th>
        <th>客户姓名</th>
        <th>预约设计师</th>
        <th>预约套餐</th>
        <th>预约时间</th>
        <th>预约状态</th>
        <th>回复</th>
        <th>回复内容</th>
        <th>操作</th>
    </tr>
    <?php foreach($rows as $row):?>
    <tr>
        <td><?=$row['order_id']?></td>
        <td><?=$row['phone']?></td>
        <td><?=$row['realname']?></td>
        <td><?=$row['barber']?></td>
        <td><?=$row['amount']?></td>
        <td><?=$row['date']?></td>
        <td>
            <?php if($row['status']==0){ ?>
            待处理
            <?php }elseif($row['status']==1){ ?>
            已接受
            <?php }else{ ?>
            已拒绝
            <?php } ?>
        </td>
        <td><a href="index.php?p=Admin&c=Order&a=Reply">回复</a></td>
        <td><?=$row['reply']?></td>
        <td>
            <a href="#">编辑</a>&nbsp;/
            <a href="#">移除</a>
        </td>
    </tr>
    </tr>
    <?php endforeach;?>
    <div style="text-align: center">

    </div>
</table>