<!DOCTYPE HTML>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<head>
    <meta charset="UTF-8">
    <title>ZiZurz Website Template</title>
    <link rel="stylesheet" href="./public/Home/css/style.css" type="text/css">
</head>
<body>
<div id="header">
    <div class="section">
        <div class="logo">
            <a href="./">带秀美发</a>
        </div>
        欢迎您，尊敬的用户。
        <ul>
            <li class="selected">
                <a href="./">首页</a>
            </li>
            <li>
                <a href="index.php?p=Home&c=Userlogin&a=logout">退出</a>
            </li>
            <li>
                <a href="hairstyle.html">活动推送</a>
            </li>
            <li>
                <a href="index.php?p=Home&c=Userorder&a=Index">预约美发</a>
            </li>
            <li>
                <a href="index.php?p=Admin&c=Login&a=Index">后台登录</a>
            </li>
        </ul>
    </div>
    <div class="article">
        <img src="./public/Home/images/great-hairstyle.jpg" alt="">
        <h1>成都最秀的美发机构，你不二的选择。</h1>
    </div>
</div>
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
<div id="body">
    <ul>
        <li>
            <a href="hairstyle.html"><img src="./public/Home/images/hairstyle17.jpg" alt=""></a>
            <b>飞机头</b>
            <p>
                成功的男人必备什么？有车？有房？不止这些，当然还要有一头动人心弦的飞机头，约会、part，你就是最亮的星！
            </p>
        </li>
        <li>
            <a href="hairstyle.html"><img src="./public/Home/images/hairstyle18.jpg" alt=""></a>
            <b>背头式</b>
            <p>
                简约、大气上档次，低调、奢华有内涵，世界前三强不是别人，就是你！
            </p>
        </li>
        <li>
            <a href="hairstyle.html"><img src="./public/Home/images/hairstyle19.jpg" alt=""></a>
            <b>染烫综合</b>
            <p>
                人不葬爱枉少年，杀马特，杀马特，洗剪吹，洗剪吹吹吹！
            </p>
        </li>
        <li>
            <a href="hairstyle.html"><img src="./public/Home/images/hairstyle20.jpg" alt=""></a>
            <b>你已经美得一匹</b>
            <p>
               美女剪完这种发行后，男人看了都想犯罪：“哇，世间竟有如此美貌的女子！”
            </p>
        </li>
    </ul>
    <div>
        <div class="featured">
            <h2>featured</h2>
            <img src="./public/Home/images/featured.jpg" alt="">
            <h3>Hair, I just meet you</h3>
            <p>
                Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the Terms of Use.
            </p>
            <p>
                You can even remove all our links if you want to. Looking for more templates? Just browse through all our Free Website Templates and find what you’re looking for. But if you don’t find any website template you can use, you can try our Free Web Design service and tell us all about it. Maybe you’re looking for something different, something special.
            </p>
            <p>
                And we love the challenge of doing something different and something special. If you’re experiencing issues and concerns about this website template, join the discussion on our forum and meet other people in the community who share the same interests with you. Version 13.
            </p>
        </div>
        <div class="section">
            <div class="article">
                <h2>hairstyle</h2>
                <p>
                    This website template has been designed by <a href="http://www.cssmoban.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.cssmoban.com/forums/">Forums</a>.
                </p>
                <a href="#">Mike M.</a>
            </div>
            <div class="newsletter">
                <img src="./public/Home/images/skinhead.png" alt="">
                <p>
                    Are you losing your hair? Let us help you in bringing back your confidence. <span>Call Us at 1800-0000-0000</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div>
        <div class="connect">
            <a href="#" id="twitter">twitter</a>
            <a href="#" id="facebook">facebook</a>
            <a href="#" id="googleplus">googleplus</a>
            <a href="#" id="pinterest">pinterest</a>
        </div>
        <p>
            &copy; copyright 2023 | all rights reserved. Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
        </p>
    </div>
</div>
</body>
</html>